html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #d3d3d3b3;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 640px;
    height: 400px;
    margin-top: -100px;
    color: white;
    background: #55e1229e;
    border-radius: 6px;
    box-shadow: 4px 4px 5px #80808082;
}

.main h1 {
    margin: -15px 0 25px;
    font-size: 150px;
}

.main span {
    font-size: 24px;
}

.main img{
    width: 300px;
    margin-top: -50px;   
}